certi1.pdf
certi2.pdf
code.txt
Deepak_Resume.pdf
github-recovery-codes (1).txt
I_card.pdf
IMG_20230924_163659.jpg
ImpQues.java
myPhoto.jpg
prac.java
projects.txt
Saransh_Resume.pdf
widar.txt
WhatsApp Image 2024-07-22 at 15.02.01_0ec46582.jpg
.cph


